In [8]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
df = pd.read_csv("../../Datasets/MLInput_MCAS_AADP.csv", encoding = "cp1252")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UPN              477 non-null    object
 1   Description      477 non-null    object
 2   Description New  477 non-null    object
 3   IP               477 non-null    object
 4   Location         477 non-null    object
 5   Date             477 non-null    object
 6   Severity         477 non-null    object
dtypes: object(7)
memory usage: 26.2+ KB

In [11]:
df.drop(["Description", "Location",'Severity '], axis=1)

,UPN,Description New,IP,Date
0,saravanan.mohan@contoso.com,Delete messages from Deleted Items folder,202.191.168.99,2020-01-23 05:15:13 UTC
1,karthik.sudevan@contoso.com,Delete messages from Deleted Items folder,125.17.34.7,2020-01-23 05:14:10 UTC
2,muralidaran.m@contoso.com,Failed log on,103.51.73.254,2020-01-23 05:13:09.658000 UTC
3,tejas.chavan@contoso.com,Delete messages from Deleted Items folder,103.5.112.166,2020-01-23 05:12:02 UTC
4,santhoshkumar.thiyagarajan@contoso.com,Delete messages from Deleted Items folder,202.191.168.99,2020-01-23 05:10:43 UTC
...,...,...,...,...
472,plant5.ppc@contoso.com,Delete messages from Deleted Items folder,103.5.112.166,2020-01-23 03:14:31 UTC
473,divya.ramachandran@contoso.com,Delete messages from Deleted Items folder,103.5.112.166,2020-01-23 03:14:11 UTC
474,mansoorahamed.musthafa@contoso.com,Failed log on,103.5.112.166,2020-01-23 03:13:56.897000 UTC
475,senthilrpde@contoso.com,Failed log on,202.191.168.99,2020-01-23 03:13:56.251000 UTC
476,senthilrpde@contoso.com,Delete messages from Deleted Items folder,103.112.6.178,2020-01-23 03:13:51 UTC

In [12]:
def count_labels_by_upn(df, feature_column, upn_column):
    # Ensure the columns exist in the DataFrame
    if feature_column not in df.columns:
        raise ValueError(f"Column '{feature_column}' not found in DataFrame")
    if upn_column not in df.columns:
        raise ValueError(f"Column '{upn_column}' not found in DataFrame")
    
    # Create a new DataFrame to hold the counts
    counts_df = df.groupby(upn_column)[feature_column].value_counts().unstack(fill_value=0)
    
    # Add a column for the total count of occurrences for each UPN
    counts_df['UPN Count'] = counts_df.sum(axis=1)
    
    return counts_df

def sum_columns(df, columns_to_sum, new_column_name):

    # Check if columns_to_sum exist in the DataFrame
    for col in columns_to_sum:
        if col not in df.columns:
            raise ValueError(f"Column '{col}' does not exist in the DataFrame")
    
    # Sum the specified columns
    df[new_column_name] = df[columns_to_sum].sum(axis=1)

In [13]:
count_df = count_labels_by_upn(df, 'Description New', 'UPN')

In [14]:
count_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171 entries, abhinaya.sathyanarayanan@contoso.com to yuvarajan.paneerselvam@contoso.com
Data columns (total 4 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Delete messages from Deleted Items folder  171 non-null    int64
 1   Failed log on                              171 non-null    int64
 2   Suspicious Email                           171 non-null    int64
 3   UPN Count                                  171 non-null    int64
dtypes: int64(4)
memory usage: 6.7+ KB

In [15]:
sum_columns(count_df, ["Delete messages from Deleted Items folder", "Failed log on", "Suspicious Email"], "Threat Count")

In [16]:
count_df.reset_index(inplace=True)

In [17]:
count_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 6 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   UPN                                        171 non-null    object
 1   Delete messages from Deleted Items folder  171 non-null    int64
 2   Failed log on                              171 non-null    int64
 3   Suspicious Email                           171 non-null    int64
 4   UPN Count                                  171 non-null    int64
 5   Threat Count                               171 non-null    int64
dtypes: int64(5), object(1)
memory usage: 8.1+ KB

In [18]:
df.nunique()

UPN                171
Description        372
Description New      3
IP                  18
Location             5
Date               331
Severity             1
dtype: int64

In [19]:
def normalize_user_id(user_id):
    return user_id.split('@')[0]

def map_column_values(original_df, new_df, column_to_map, new_column_name):

    # Normalize User ID in both DataFrames
    original_df['UPN'] = original_df['UPN'].apply(normalize_user_id)
    new_df['UPN'] = new_df['UPN'].apply(normalize_user_id)
    
    # Merge the DataFrames on the normalized User ID
    merged_df = original_df.merge(new_df[['UPN', column_to_map]], 
                                  on='UPN', 
                                  how='left')
    
    # Rename the mapped column
    merged_df.rename(columns={column_to_map: new_column_name}, inplace=True)

    return merged_df

In [21]:

op_df = pd.read_csv("../../Datasets/Output/MCAS_AADP_output.csv", encoding = "cp1252")

In [22]:
final_df = map_column_values(count_df, op_df, 'AvgProbability', 'AvgProbability')

In [23]:
final_df.head()

,UPN,Delete messages from Deleted Items folder,Failed log on,Suspicious Email,UPN Count,Threat Count,AvgProbability
0,abhinaya.sathyanarayanan,4,0,0,4,4,0.7168
1,ajeesh.mohamed,2,0,0,2,2,0.7206
2,ajeethkumar.thangaraj,2,0,0,2,2,0.7528
3,amit.dixit,12,1,0,13,13,0.8697
4,amjathkumar.murugan,1,0,0,1,1,0.8396

In [25]:
final_df.to_csv("../../Datasets/Supervised Learning Inputs/MCAS_AADP.csv")